@import '../styles/variables.scss';

@keyframes onLoad {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.container {
  flex-grow: 1;
  position: relative;
  animation: onLoad 0.5s;
  overflow-x: hidden;
}

.slide {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 2fr 1fr;
  grid-template-areas:
    'photo desc'
    'title pr_nav';
  position: absolute;
  left: 0;
  top: 0;
  background-color: $background-color;
  transition: transform 0.4s ease;

  @include rwd-max-width(968) {
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr 1fr 1fr;
    grid-template-areas:
      'photo'
      'title'
      'desc'
      'pr_nav';
  }
}

/*ANIMATIONS*/

.slide[data-status='active'] {
  transform: translateX(0%);
}

.slide[data-status='inactive'] {
  transform: translateX(-100%);
  transition: none;
}

.slide[data-status='active-from-left'] {
  transform: translateX(-100%);
  transition: none;
}

.slide[data-status='active-from-right'] {
  transform: translateX(100%);
  transition: none;
}
